@if (isLoading()) {
  <p>Chargement...</p>
} @else {
    <app-categories-filters
    [searchTerm]="searchTerm()"
    [selectedGroupId]="filtersState.selectedGroupId()"
    [availableGroups]="availableGroups()"
    (searchTermChange)="onSearchTermChange($event)"
    (selectedGroupIdChange)="onSelectedGroupChange($event)">
    </app-categories-filters>

  @if (filtersState.sortAlphabetically()) {
    @if (alphabeticalCategories().length) {
      <div class="categories-grid categories-grid--alphabetical">
        @for (category of alphabeticalCategories(); track category.id) {
          <app-category-card
            [category]="category"
            [isAlphabeticalMode]="true">
          </app-category-card>
        }
      </div>
    } @else {
      <p>Aucune catégorie trouvée</p>
    }
  } @else {
    @if (displayedGroupedCategories().length) {
      <app-categories-list
        [groupedCategories]="displayedGroupedCategories()">
      </app-categories-list>
    } @else {
      <p>Aucune catégorie trouvée</p>
    }
  }
}