<article
  class="category-card"
  [class.category-card--selected]="selected()"
  [class.category-card--consulted]="consulted()"
  (click)="onSelect()">
  
  @if (isAlphabeticalMode()) {
    <p class="category-card__group category-card__badge" [ngClass]="category().group?.color || 'm-grey'">{{ category().group?.name }}</p>
  }

  <p class="category-card__title">{{ category().wording }}</p>
  <p class="category-card__description">
    {{ category().description || 'Aucune description' }}
  </p>
</article>