<header class="app-header">
  <h1 class="app-header__title">Catégories</h1>

  <div class="app-header__actions">
    <button
      type="button"
      class="header-mode-button"
      [class.header-mode-button--active]="!filtersState.sortAlphabetically()"
      (click)="setGroupedMode()">

      <span class="header-mode-button__icon" aria-hidden="true">
        <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path
            fill="currentColor"
            d="M12 14a1 1 0 0 1-.49-.13l-9-5a1 1 0 0 1 0-1.75l9-5a1 1 0 0 1 1 0l9 5a1 1 0 0 1 0 1.75l-9 5A1 1 0 0 1 12 14zm0 8a1 1 0 0 1-.49-.13l-9-5a1 1 0 0 1 1-1.75L12 19.86l8.51-4.73a1 1 0 1 1 1 1.75l-9 5A1 1 0 0 1 12 22z"/>
          <path
            fill="currentColor"
            d="M12 18a1 1 0 0 1-.49-.13l-9-5a1 1 0 0 1 1-1.75L12 15.86l8.51-4.73a1 1 0 1 1 1 1.75l-9 5A1 1 0 0 1 12 18z"/>
        </svg>
      </span>
      <span>Groupe de catégorie</span>
    </button>

    <button
      type="button"
      class="header-mode-button"
      [class.header-mode-button--active]="filtersState.sortAlphabetically()"
      (click)="setAlphabeticalMode()">
      <span class="header-mode-button__icon" aria-hidden="true">
        <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path
            fill="currentColor"
            d="M19.707 14.707A1 1 0 0 0 19 13h-7v2h4.586l-4.293 4.293A1 1 0 0 0 13 21h7v-2h-4.586l4.293-4.293zM7 3.99H5v12H2l4 4 4-4H7zM17 3h-2c-.417 0-.79.259-.937.649l-2.75 7.333h2.137L14.193 9h3.613l.743 1.981h2.137l-2.75-7.333A1 1 0 0 0 17 3zm-2.057 4 .75-2h.613l.75 2h-2.113z"
          />
        </svg>
      </span>
      <span>Ordre alphabétique</span>
    </button>
  </div>
</header>